@import '../../styles/colors.scss';

.process {

    h3 {
        padding-left: 20%;
        margin-bottom: 1em;
    }

    .process-3 {
        list-style: none;
        padding: 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            left: 1.8em;
            top: 0;
            border-left: 1px dashed #ddd;
        }

        li {
            position: relative;
            z-index: 1;
            overflow: hidden;

            .process__number {
                float: left;
                width: 15%;
                width: 3.71428571em;
                height: 3.71428571em;
                background: #fff;
                text-align: center;

                .icon {
                    line-height: 1em;
                    font-size: 3.14285714em;
                    &.green {
                        color: $primary-teal;
                    }
                    &.red {
                        color: $primary-red;
                    }
                    &.brown {
                        color: $primary-brown;
                    }
                    &.purple {
                        color: $primary-purple;
                    }
                    &.yellow {
                        color: $primary-yellow;
                    }
                }
            }

            .process__body {
                width: 80%;
                float: right;

                h4 {
                    margin-bottom: 0.342105263157895em;
                }
            }
        }

        li:not(:last-child) {
            margin-bottom: 3.71428571em;
        }
    }
    .process__number {
        border: none;
    }
}
