@import '../../styles/media-queries.scss';
@import '../../styles/colors.scss';

.feature-large {

    .feature{
        margin-bottom: 1rem;
        overflow: hidden;

        i {
            width: 25%;
            float: left;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .icon:not(.block) {
        display: inline-block;
    }

    .icon {
        line-height: 1em;
        font-size: 3.14285714em;
        &.green {
            color: $primary-teal;
        }
        &.red {
            color: $primary-red;
        }
        &.brown {
            color: $primary-brown;
        }
        &.purple {
            color: $primary-purple;
        }
        &.yellow {
            color: $primary-yellow;
        }
    }

    h5 {
        margin-bottom: 0.46428571em;
    }

    .feature__body {
        width: 75%;
        float: right;
    }

    @media ($media-max-large) {
        div[class^="col-"]:last-child {
            padding-top: 30px;
        }
    }
}

