$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$primary-teal: #4d9e93 !default;
$primary-red: #9e4d52 !default;
$primary-brown: #9e5e4d !default;
$primary-yellow: #9e874d !default;
$primary-purple: #704d9e !default;
$primary-header-color: #252525;
$primary-font-color: #252525;
$red: #DC143C !default;
$yellow: yellow !default;