@import '../../styles/mixins.scss';
@import '../../styles/media-queries.scss';
@import '../../styles/colors.scss';
@import '../../styles/animations.scss';

.navbar {

    .row {
        flex-direction: column;

        @media ($media-min-large) {
            align-items: center;
            flex-direction: row;
        }

        &.show {
            .navbar__menu_links {
                height: 100vh;
                animation: fade-in-right .3s $cubic-ease .3s 1 forwards normal;

                ul {
                    overflow: visible;
                }
            }
        }
    }

    &.rci {
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,.1);
        box-sizing: border-box;
        margin: 0;
        position: fixed;
        padding: 1.5rem 0;
        top: 0;
        transition-delay: 0s;
        transition-duration: .2s;
        transition-property: top;
        transition-timing-function: cubic-bezier(.04,0,.18,.99);
        width: 100%;
        z-index: 10;
        @include pad-mobile-outer;

        @media ($media-min-large) {
            padding: 2rem 0;
        }
    }
    
    &__logo_container {
        position: relative;

         @media ($media-min-large) {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
         }

        .logo {
            max-height: 2.857143em;
            max-width: none;
        }
    }

    &__menu_links {
        height: 0;
        margin: 0;
        min-height: 1px;
        padding: 0 15px;
        position: relative;
        order: 2;
        opacity: 0;
        transform: translate(-30px, 0);

        ul {
            padding: 2em 0 0;
            flex-direction: column;
            overflow: hidden;

            li {
                font-size: 1.2rem;
                margin-bottom: 1.75em;
            }
        }

        @media ($media-min-large) {
            transform: translate(0, 0);

            ul {
                padding: 0;
                flex-direction: row;
                overflow: visible;

                li {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
        }

        @media ($media-min-large) {
            display: inline !important;
            order: 0;
            opacity: 1 !important;
            height: 0 !important;
        }

        &-menu-horizontal {
            display: flex;
            height: 0;
            list-style: none;
            position: relative;

            @media ($media-min-large) {
                padding-left: 0;
            }

            li {
                a {
                    font-weight: 500;
                    color: $primary-header-color;
                    transition: 0.3s ease;
                }

                &:hover {
                    > a {
                        opacity: 1;
                    }
                }
            }

            li:not(:last-child) {
               margin-right: 3%;
            }

            @media ($media-min-large) {
                > li:not(:hover) > a {
                    opacity: .5;
                }
            }

            .contact-mobile {
                color: #252525;
                cursor: pointer;

                @media ($media-min-large) {
                    display: none;
                }
            }
        }


    }

    &__menu_contact {
        display: none;
        margin: 0;
        min-height: 1px;
        padding: 0 15px;
        position: relative;
        text-align: right;
        width: 41.6667%;

        @media ($media-min-large) {
            display: inline !important;
        }

        button {
            outline: none;
            &:focus {
                box-shadow: none;
            }
        }
    }

    &__hamburger {
        position: absolute;
        top: 30px;
        right: 30px;

        .hamburger {
            outline: none;
        }

        @media ($media-min-large) {
            display: none;
        }
    }
}