@import '../../styles/colors.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
 
 .testimonials-slider {
     background-color: #f4fbfa;
 }

 .slider {
     .flickity-slider {
         .slide {
             width: 100%;
         }
     }
     
     h5 {
         color: $primary-font-color;
         font-weight: 300;
     }

     blockquote {
         font-size: 1.3em;
     }
 }

