@import '../../styles/animations.scss';

.hero.narrow {
    height: 60vh;

    .row {
        align-items: center;
    }

    .darken-bg {
        width: 100%;
        height: 100%;
    }

    .text-body {
        margin-top: 120px;
    }

    h1 {
        font-size: 2em;
        font-weight: 300;
        line-height: 1.36363636em;
        text-transform: none;
        padding: 0;
        margin-bottom:  0.78787878787879em;
        text-shadow: 2px 2px 3px rgba(0,0,0,.3);
        animation: reveal-slide-up 1.5s $cubic-ease 1.5s 1 normal forwards;
    }

    p {
        font-size: 1.35714286em;
        line-height: 1.68421053em;
        font-weight: 400;
        text-shadow: 2px 2px 3px rgba(0,0,0,.3);
        animation: reveal-slide-up 1.5s $cubic-ease 2s 1 normal forwards;
    }
}