@import '../../styles/media-queries.scss';

footer {
    padding: 2.85714286em 0;

    @media ($media-min-medium) {
        padding: 3.85714286em 0;
    }

    .fine-print {
        font-size: 80%;
        p {
            margin: 0;
        }
    }
}