@import '../styles/media-queries.scss';

.ril__toolbar {
    background: transparent;
}

.ril__navButtons {
    &:focus {
        outline: none;
    }
    
}

[data-reach-dialog-overlay] {
    background: rgba(0, 0, 0, 0.85);
}

[data-reach-dialog-content] {
    position: relative;
    width: 100vw !important;
    margin: 18vh auto !important;
    padding: 0;
    border-radius: 3px;

    @media ($media-min-larger) {
        width: 50vw !important;
    }
}

.closeButton {
    position: absolute;
    right: -70px;
    top: 0;

    .icon {
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }
}